{% extends "::base.html.twig" %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
    <div class="row padding-bottom">
        <div class="col-md-4 col-md-offset-4">
            {% include "::sessionFlash.html.twig" %}
            <h1>Forgot Password</h1>

            <form method="post" class="" {{ form_enctype(form) }} novalidate="true" id="user-form">
                <div>
                    {{ form_rest(form) }}

                    <div class="control-group">
                        <div class="controls">
                            <input type="submit" value="Submit" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}