{% extends "::base.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="row padding-bottom">
        <div class="col-md-4 col-md-offset-4">
            {% include "::sessionFlash.html.twig" %}

            <h1>Dashboard</h1>

        </div>
    </div>
{% endblock %}