{% extends ":Emails:email-base.html.twig" %}

{% block subject %}Password Reset{% endblock %}
{% block title %}Password Reset{% endblock %}

{% block bodyContent %}
    <table border="0" cellpadding="20" cellspacing="0" width="100%">
        <tr>
            <td valign="top" class="bodyContent">
                <div>
                    <p>Hello {{ user.username }},</p>

                    <p>We received a request to reset your password. Did you make it?
                        If so, click the link below to reset your password on the website.</p>
                </div>
            </td>
        </tr>
        <tr>
            <td align="center" valign="top" style="padding-top:0;">
                <table border="0" cellpadding="15" cellspacing="0" class="templateButton" style="background-color:#337ab7;-moz-border-radius:4px;-webkit-border-radius:4px;border:1px solid #2e6da4;border-collapse:separate !important;border-radius:4px;">
                    <tr>
                        <td valign="middle" class="templateButtonContent">
                            <div>
                                <a href="{{ url('reset_password', {'resetToken': user.resetToken}) }}" target="_blank" style="color:#FFFFFF;font-family:Arial;font-size:15px;font-weight:bold;letter-spacing:-.5px;line-height:100%;text-align:center;text-decoration:none;">Reset your password</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top" class="bodyContent">
                <div>
                    <p>As a reminder, your username is: <strong>{{ user.username }}</strong></p>
                    <p>If you didn't want to reset your password, don't worry. You can just ignore this email.</p>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}